<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            <%= data_areas[0].nombre%>
        </title>
</head>

<body id="main_areas">

    <%- include('header.ejs') %>
        <main id="cont_main_areas">
            <h2>Bienvenidos a la area `<%= data_areas[0].nombre%>`
            </h2>
            <section class="cont_text">

                <% if (data_areas[0].nombre=="Comunicaciones" ) { %>
                    <img src="Resources/Imagenes/Comunicaciones.webp" alt="">
                    <% } %>

                        <% if (data_areas[0].nombre=="Ciencias Sociales" ) { %>
                            <img src="Resources/Imagenes/sociales.webp" alt="">
                            <% } %>


                                <% if (data_areas[0].nombre=="Exactas y Naturales" ) { %>
                                    <img src="Resources/Imagenes/exactas_Naturales.webp" alt="">
                                    <% } %>

                                        <% if (data_areas[0].nombre=="Educación Física" ) { %>
                                            <img src="Resources/Imagenes/educacion_fisica.webp" alt="">
                                            <% } %>

                                                <% if (data_areas[0].nombre=="Taller" ) { %>
                                                    <img src="Resources/Imagenes/Taller.webp" alt="">
                                                    <% } %>
                                                        <div class="sub_cont_text">
                                                            <div class="cont_text_sub">
                                                                <h3>Jefe de departamento</h3>
                                                                <h4>
                                                                    <%= data_areas[0].jefe_de_area%>
                                                                </h4>
                                                            </div>
                                                            <div class="cont_text_sub">
                                                                <h3>Descripcion de la area</h3>
                                                                <h4>
                                                                    <%= data_areas[0].descripcion%>
                                                                </h4>
                                                            </div>
                                                        </div>

            </section>
            <section class="cont_juegos_areas">
                <h2 id="tit_juegos">Juegos del area `<%= data_areas[0].nombre%>`</h2>
                <article class="sub_cont_juegos">

                    <% data_juegos.forEach((juego, index)=> { %>

                        <div id="juego_cont<%=index%>" class="cont_juego_desc">
                            <img src="  <%= juego.url_img%>" alt="">
                            <div class="cont_text_juego">
                                <div class="cont_tit">
                                    <h3>
                                        <%= juego.titulo%>
                                    </h3>
                                    <div class="cont_estrellas">
                                        <i class="fa-solid fa-star"></i>
                                        <span>
                                            <%= juego.valoracion%>
                                        </span>
                                    </div>
                                </div>

                                <p>
                                    <%= juego.descripcion%>
                                </p>
                                <div class="cont_btn">
                                    <a href="/<%= juego.url_juego %>?id_juego=<%=juego.juego_id %>" class="btn_jugar">Jugar</a>
                                    <a href="/puntuarJuego?id_juego=<%=juego.juego_id %>" class="btn_jugar">Puntuar juego</a>
                                   </div>
                            </div>



                        </div>
                        <% }) %>
                </article>
            </section>
        </main>
        <%- include('footer.ejs') %></aside>
</body>

</html>