<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            Dashboard root
        </title>
</head>

<body>
     <%- include('headers/header_simple') %>
        <main id="main-content" class="dashboard">
            <h2>Editar usuario: "<%= data_user[0].nombre_usuario %>" </h2>
            <section class="admin-users">
                <form id="form_editar_user" action="/editar_us_post" method="POST">
                    <div class="cont_input">
                        <label for="id_userss">ID user</label>
                        <input type="text" name="id_userss" id="id_userss" placeholder="<%= data_user[0].usuario_id %>"
                            readonly value="<%= data_user[0].usuario_id %>">
                    </div>
                    <div class="cont_input">
                        <label for="id_user">nombre user</label>
                        <input type="text" name="nombre_user" id="nombre_user" placeholder="<%= data_user[0].nombre %>"
                            readonly>
                    </div>
                    <div class="cont_input">
                        <label for="id_user">apellido user</label>
                        <input type="text" name="apellido_user" id="apellido_user"
                            placeholder="<%= data_user[0].apellido %>" readonly>
                    </div>
                    <div class="cont_input">
                        <label for="id_user">nombre usuario user</label>
                        <input type="text" name="nombre_us_user" id="nombre_us_user"
                            placeholder="<%= data_user[0].nombre_usuario %>" readonly>
                    </div>
                    <div class="cont_input">
                        <label for="id_user">email user</label>
                        <input type="text" name="email_user" id="email_user" placeholder="<%= data_user[0].email %>"
                            readonly>
                    </div>
                    <div class="cont_input">
                        <label for="id_user">rol user</label>
                        <select name="rol_us" id="rol_us">
                            <option value="<%= data_user[0].rol %>">
                                <%= data_user[0].rol %>
                            </option>

                            <% if (data_user[0].rol !=='alumno' ) { %>
                                <option value="alumno">Alumno</option>
                                <% } %>
                                    <% if (data_user[0].rol !=='profesor' ) { %>
                                        <option value="profesor">Profesor</option>
                                        <% } %>
                                            <% if (data_user[0].rol !=='directivo' ) { %>
                                                <option value="directivo">Directivo</option>
                                                <% } %>
                                                    <% if (data_user[0].rol !=='root' ) { %>
                                                        <option value="root">Root</option>
                                                        <% } %>

                        </select>
                    </div>
                    <button type="submit">Editar</button>
                </form>

            </section>
        </main>
        <%- include('footer.ejs') %></aside>
</body>

</html>