<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludiverso</title>
    <link rel="stylesheet" href="Estilo/estilo.css">
    <script src="https://kit.fontawesome.com/1eff4537b0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="container_nav" id="cont_nav_tit">
                <h1>Ludiverso</h1>
            </div>
            <div class="container_nav" id="cont_nav_links">
                <a href="#" class="links">Juegos</a>
                <a href="#" class="links">Areas</a>
                <a href="#" class="links">Novedades</a>
                <a href="#" class="links">Sobre nosotros</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="sec_img" class="secciones">
        
            <% juegos.forEach((juego, index) => { %>
                <% if (index==0) {  %>
                    <article id="cont_main_juego" style="background-image: url('<%= juego.url_img %>');">
                <% } else { %>
                    <article id="cont_main_juego" class="desac cont_main_juego_<%= index %>" style="background-image: url('<%=juego.url_img %>');">
                <% } %>
                    <div class="cont_arrow">
                        <i class="fa-solid fa-arrow-left arrow" id="arrow_left_<%= index %>"></i>
                    </div>
            
                    <div class="cont_main">
                        <div class="cont_tex">
                            <h3 id="nombre_materia_<%= index %>"><%= juego.nombre_materia || 'Sin nombre' %></h3>
                            <h2 id="nombre_juego_<%= index %>"><%= juego.titulo %></h2>
                        </div>
                        <div class="cont_info_juego">
                            <p class="info"><%= juego.descripcion %></p>
                            <a href="#">Jugar</a>
                        </div>
                    </div>
            
                    <div class="cont_arrow">
                        <i class="fa-solid fa-arrow-right arrow" id="arrow_right_<%= index %>"></i>
                    </div>
                </article>
            <% }) %>


        </section>
        <section id="sec_areas" class="secciones">
            <h2>Areas</h2>
            <article id="cont_areas">
                <div class="cont_dos">
                    <a href="" class="cont_areas" id="cont_sociales">
                        <img src="Resources/Imagenes/sociales.webp" alt="">
                        <span>Sociales</span>

                    </a>
                    <a href="" class="cont_areas " id="cont_edu">
                        <img src="Resources/Imagenes/educacion_fisica.webp" alt="">
                        <span>Educacion fisica</span>

                    </a>
                </div>

                <a href="" class="cont_areas" id="cont_central">
                    <img src="Resources/Imagenes/comunicaciones.webp" alt="">
                    <span>Comunicaciones</span>

                </a>
                <div class="cont_dos">
                    <a href="" class="cont_areas" id="cont_taller">
                        <img src="Resources/Imagenes/taller.webp" alt="">
                        <span>Taller</span>

                    </a>
                    <a href="" class="cont_areas" id="cont_exactas">
                        <img src="Resources/Imagenes/exactas_naturales.webp" alt="">
                        <span>Exactas y naturales</span>

                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

</html>