<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            Juego de memoria
        </title>
</head>

<body>
    <%- include('header.ejs') %>
        <main id="juego_intro">
            <section class="cont_text">
                <h2>
                    <%= data_juego.titulo %>
                </h2>
                <h2>
                    <%= data_juego.descripcion %>
                </h2>
            </section>
            <section class="cont_niveles">
                <%
                let nivel_us;
                if (!data_niveles || !data_niveles.nivel_actual_us) {
                    nivel_us = 2;
                } else {
                    nivel_us = data_niveles.nivel_actual_us;
                }
            %>
                <ul class="sub_cont_niveles">
                    <% for(let i=1; i <=data_juego.niveles; i++) { %>
                        <% if (nivel_us == i) { %>
                            <a href="<%=data_juego.url_juego %>?nivel_juego=<%=nivel_us %>" class="nivel actual" >
                                <li>
                                    <%= i %>
                                </li>
                            </a>
                            <% } %>
                        
                        <% if (nivel_us > i) { %>
                            <a href="<%=data_juego.url_juego %>?nivel_juego=<%=nivel_us %>" class="nivel superado" >
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    <%= i %>
                                </li>
                            </a>
                            <% } %>
                            <% if (i > nivel_us ) { %>
                                <a href="<%=data_juego.url_juego %>?nivel_juego=<%=nivel_us %>" class="nivel no_superado" >
                                    <li>
                                        <i class="fa-solid fa-lock"></i>
                                        <%= i %>
                                    </li>
                                </a>
                                <% } %>
                            <% }%>
                       
                       
                </ul>

            </section>

        </main>
        <%- include('footer.ejs') %></aside>
            <script src="/Scripts/juego_memoria.js"></script>
</body>

</html>